body {
  background: transparent
    linear-gradient(180deg, #00000084 0%, #00000026 71%, #000000a8 100%) 0% 0%
    no-repeat padding-box;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  opacity: 1;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  top: 57px;
  left: 140px;
  width: 1640px;
  height: 33px;
}

.logo {
  margin-top: 57px;
  margin-left: 140px;
}

.hamburger {
  margin-top: 59px;
  margin-left: 1500px;
}

.hamburger:hover {
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.year {
  margin-top: 294px;
  padding-left: 140px;
  text-align: left;
  font: normal normal 300 39px/47px Paralucent;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 77px;
  height: 47px;
}

.work {
  margin-top: 306px;
  padding-left: 24px;
  width: auto;
  height: 24px;
  text-align: left;
  font: normal normal 300 20px/24px Paralucent;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.7;
}

.project {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-76) / 76px var(--unnamed-font-family-paralucent);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--whie);
  text-align: left;
  font: normal normal 300 76px/76px Paralucent;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  margin-top: 341px;
  padding-left: 140px;
  width: auto;
  height: 167px;
}

.bold {
  font: var(--unnamed-font-style-normal) normal medium
    var(--unnamed-font-size-76) / 76px var(--unnamed-font-family-paralucent);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--whie);
  text-align: left;
  font: normal normal medium 76px/76px Paralucent;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.seeProject {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-left: 140px;
  width: 400px;
  height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-size: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}

.slider-nav {
  width: 1382px;
  height: 113px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 250px;
  margin-left: 150px;
  cursor: pointer;
}
.slider-item {
  width: 398px;
  height: 113px;
  padding-right: 30px;
}
.nav-number {
  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-39) /
    var(--unnamed-line-spacing-47) var(--unnamed-font-family-paralucent);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--whie);
  text-align: left;
  font: normal normal bold 39px/47px Paralucent;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.nav-name {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-paralucent);
  color: var(--whie);
  text-align: left;
  font: normal normal 300 20px/24px Paralucent;
  letter-spacing: 0.4px;
  color: #ffffff;
  opacity: 1;
}

.rectangle {
  width: 398px;
  height: 10px;
  background: var(--whie) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.3;
  margin-top: 15px;
}

.active {
  opacity: 1;
}
